[2018-12-18 21:12] GEGlobalResearch opened #1 "Resolve reference in import statement"
Given the grammar defined in com.ge.research.sadl.darpa.aske.Dialog.xtext in this repo, which extends the SADL grammar, I can't quite remember what I need to add to get the import statement to work. Please assist. This is work under the new PO for DARPA ASKE.

Test case
model.sadl
` uri "http://sadl.org/model.sadl" alias ml.

 Bicycle is a class, described by wheel with values of type Wheel.
 Whee

[2018-12-19 13:57] #1 closed, assigned to nobody

[2018-12-19 22:33] crapo opened #2 "Dialog grammar model processor not being found"
@kittaakos , I'd prefer to talk about this as opposed to trying to give you information ahead of time. I will set up meeting.

[2019-01-24 13:18] #2 closed, assigned to kittaakos

[2019-01-24 13:19] GEGlobalResearch opened #3 "Mavenize project"
Please mavenize the project and create projects to provide update site. Running maven build (on parent?) should create a self-contained update zip for deployment on github ready for download and install, with correct dependencies on SADL, Xtext, etc.

[2019-02-11 18:39] #3 closed, assigned to kittaakos

[2019-02-12 08:12] kittaakos opened #5 "Getting rid of the generated code?"
@crapo, shall we do another iteration to remove the generated code from Git?

[2019-02-12 14:42] #5 closed, assigned to nobody

[2019-02-12 14:53] kittaakos opened #6 "Revisit the required plug-ins in the feature for the p2 update site"

[2019-02-14 22:24] crapo opened #7 "dependencies project"
@kittaakos , we created the dependencies project to be able in have 3rd party libs like javaparser. It works for me, but not for others. I think that's because we didn't actually make the project a Maven project and add the dependencies to the pom. Does that make sense? @vijayskumar ran into this difficulty.

[2019-02-21 13:00] #7 closed, assigned to nobody

[2019-02-21 13:51] #6 closed, assigned to kittaakos

[2019-02-25 21:31] crapo opened #10 "Not building META-INF/services file"
I've created a new class file Cg.java, which extends com.hp.hpl.jena.reasoner.rulesys.builtins.BaseBuiltin. I've added (or so I thought) the right info to the <built><plugins> section of the pom file, and to the <build><pluginManagement> section. I would expect a Maven build to create the file META-INF/services/com.hp.hpl.jena.reasoner.rulesys.builtins.BaseBuiltin with content

com.ge.research.sad

[2019-02-28 08:21] kittaakos opened #11 "Error: Only well-formed absolute URIrefs can be included in RDF/XML output with broken AST"
With 6f05572 from the `master`.

Model:
[code]

Error:
[code]

[2019-02-28 13:22] #10 closed, assigned to kittaakos

[2019-03-04 13:54] kittaakos opened #13 "[releng] Remove the `.target` project"
It is unused and was removed once as part of #4.
See here: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/4/files#diff-9730dbf76d5c0426033f370fc57f9754L1

[2019-03-22 13:48] GEGlobalResearch opened #14 "Content Assist Issues"
1. The content assist after keyword "uri" at the start of a model does not return a valild URI. Should work just like Sadl content assist. Not sure what's missing...
2. In a .dialog file in the Dialog editor, after the keyword "import" content assist puts up a list of imports but if one is selected it is inserted without quotes.

This uses master of DARPA-ASKE-TA1, AugmentedTypes branch of SADL.

[2019-03-23 12:29] crapo opened #15 "Proper loading of .owl and .sadl files programmatically"
This is on sadl branch AugmentedTypes and dialog branch master.
Attached is the export of a project (M5Local.zip) and a Java file (Mach.zip). Place the Java file somewhere on the file system and import the project, then open build.dialog and make some minor change like add a space at the end. Then do File -> Import... -> Java Model Importer -> Java Files, select the project in both the top and bot

[2019-03-29 20:24] agabaldon opened #18 "SadlInferenceProcessorProvider.xtend returns wrong processor in Ubuntu"
Hi Akos,
we found a problem in Dialog Sadl that occurs on Ubuntu but not on other OSs.
The method doCreateProcessor in SadlInferenceProcessorProvider.xtend returns JenaBasedSadlInferenceProcessor instead of JenaBasedDialogInferenceProcessor. The method returns the first processor in the list. We're not sure if in Ubuntu the processors are picked up and added to the map in AbstractSadlProcessorProv

[2019-04-08 12:03] #15 closed, assigned to kittaakos

[2019-04-09 17:26] #18 closed, assigned to kittaakos

[2019-09-09 13:48] crapo opened #23 "Abstract Dialog Test class"
I need the capability to convert a .dialog file into an OWL file using the JenaBasedDialogModelProcessor from a JUnit test. For SADL, this is accomplished through calls to assertValidatesTo in AbstractSadlTest. I don't know the easiest/best way to so this for DIALOG files. I suspect that you, @kittaakos , could pretty quickly provide this capability? In a fraction of the time it would take me to f

[2019-09-09 15:55] kittaakos commented on #23
@crapo, can you please share one or two valid `.dialog` files? It is up to you whether it is a text copy-pasted here or a zip file attached to GitHub. I try to finish the implementation either today or tomorrow.

[2019-09-09 16:43] crapo commented on #23
Attaching an exported project zip file with several .dialog files. "demo.dialog", "test.dialog" are examples.
[M5.zip](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/files/3591646/M5.zip)

[2019-09-09 20:07] crapo opened #24 "SADL preferences not being loaded by Dialog model processor"
The JenaBasedDialogModelProcessor (JBDMP) extends the JenaBasedSadlModelProcessor (JBSMP) and much of the model processing is passed off to the superclass processor. It is, therefore, necessary that the superclass processor use the SADL preferences. This is not happening. For example, the SADL preference "use indefinite and definite articles..." is checked, but when processing passed from the JBDM

[2019-09-10 06:45] kittaakos commented on #23
I cannot build it. SADL, as of today from the `development` branch, has `3.2.1-SNAPSHOT` version. DARPA requires `3.2.0-SNAPSHOT` from the target platform. Which SADL branch should I use? Please note, I had to wipe my local Maven cache, I do not have SADL `3.2.0` available there.

Local Maven:
[code]

Error:
[code]

[2019-09-10 07:02] kittaakos commented on #23
`AugmentedTypes` seems to work. I am down to one test failure. For this task, I will ignore the test.

[code]

[2019-09-10 07:16] kittaakos commented on #23
I still cannot compile. How do you set up DARPA with SADL source? Thanks!

[code]

[2019-09-10 12:05] crapo commented on #23
I'm sorry I didn't specify AugmentedTypes. That is the correct branch for sadl, master branch for ASKE TA1. I do not have any compile issues and don't recall seeing an issue like this. Can we do a quick Skype meeting to discuss/look at my environment?

[2019-09-10 12:24] crapo commented on #23
TestSadlServerMD_Mobius.testWithJenaReasoner is already ignored in master branch. Not sure why it ran for you....

[2019-09-10 13:18] kittaakos commented on #23
I have fixed it locally, thank you! The duplicate target platform files were confusing. See here: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/13

I am down to two compiler errors:

![Screen Shot 2019-09-10 at 15 11 42](https://user-images.githubusercontent.com/1405703/64616667-4d528e80-d3dd-11e9-8892-78636b2f60a9.jpg)

Are you sure you have pushed everything to the remote `AugmentedT

[2019-09-10 13:30] crapo commented on #23
isAstSyntaxValid is in SadlModelProcessor and was updated in AugmentedTypes 11 days ago.
replaceFileExtension is a static method in SadlUtils and was also pushed 11 days ago.

[2019-09-10 13:32] crapo commented on #23
Not sure I understand. There is a .target file somewhere where there shouldn't be one? Where?

[2019-09-10 13:46] kittaakos commented on #23
I will check, thank you!

The entire `com.ge.research.sadl.darpa.aske.dialog.target` is obsolete. We have to use the target platform file from SADL anyway.

[2019-09-10 16:20] kittaakos commented on #23
@crapo, I resolved all compiler errors locally. Thank you for your support!

This is not true. `assertValidatesTo` is an end-to-end test, it runs the validation, you can assert the ontology model, the rules, and commands, but it does not generate anything. What do you need, the generated OWL file or just the same functionality as the `assertValidatesTo ` provides for SADL but with `.dialog` models

[2019-09-10 16:24] crapo commented on #23
I need the generated OWL file.

[2019-09-10 16:43] kittaakos commented on #24
Yes, it won't work. This is a little bit tricky, but I am working on a quick solution...

[2019-09-10 16:47] kittaakos commented on #23
I see. It is not trivial. All of our tests run without any files, they won't generate anything at all. I try to figure out something.

[2019-09-10 16:49] crapo commented on #23
Ah, I missed this subtlety. I don't need an OWL file, I just need the in-memory OntModel created by the model processor.

[2019-09-10 16:50] kittaakos commented on #23
OK, it simplifies a lot. I try to finish this today to avoid blocking you.

[2019-09-10 17:07] crapo commented on #23
Thanks!!

[2019-09-10 19:45] #24 closed

[2019-09-11 15:12] crapo commented on #23
@kittaakos , can you use the attached simple project to set up a test that shows how to use this?

[SimpleDialog.ZIP](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/files/3601473/SimpleDialog.ZIP)

[2019-09-16 15:07] crapo commented on #23
@kittaakos , I checked out the dialog-test branch and made some corrections and pushed results. There is one update to sadl AugmentedTypes branch that supports this. Now there are no errors in Dialog model processing until we get to the inferencing part. I was surprised to see that the sadl tests do not appear to do any actual inferencing. Inferencing is only actually tested in sadl.ui tests. The

[2019-09-16 15:23] crapo commented on #23
@kittaakos , I think there must be a project configuration issue, class loader related, because using reflection to find the class "com.ge.research.sadl.jena.translator.JenaTranslatorPlugin" fails in the configuration manager. If you know what that might be please let me know. Otherwise I'll look for differences with the sadl.test project.

[2019-09-16 15:46] crapo commented on #23
@kittaakos , I've added a test testGetTranslatorInstance to DialogTest and an identical test to SadlJenaOSTest in sadl.test project. Both illustrate the issue that the class loader is unable to find the class com.ge.research.sadl.jena.translator.JenaTranslatorPlugin. If this were resolved we might be able to get inference testing to work from backend (headless) tests. Any ideas?

[2019-09-16 21:42] crapo commented on #23
@kittaakos , I bit the bullet and modified the reasoner so that it will work without a model folder or any files. That will greatly facilitate all testing of inference, both sadl and dialog. At the moment I don't think there are any critical issues.

[2019-09-16 22:14] crapo commented on #23
I have merged your dialog-test branch into master. Note that there are some tests that will fail for you as they depend on REST services that are internal.

[2019-09-17 08:57] kittaakos commented on #23
Yes. Inferencing always relied on the FS and expected a certain folder structure.

You expected a JUnit test, please see the [original issue description](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/23#issue-491107394):

Great! I am looking into it.

No, you did not. You have merged the `master` into the `dialog-test` branch. Anyway, I will continue on the work on the `dialog-test`.

[2019-09-17 09:28] kittaakos commented on #23
Are you referring to this error?
[code]

[2019-09-17 11:03] kittaakos commented on #23
Here is the fix in SADL: https://github.com/crapo/sadlos2/pull/382

[2019-09-17 11:05] kittaakos commented on #23
I have fixed a few things. The most importand part was the missing registration of the model processor and the inferencer for the dialog grammar. Otherwise, the Java SPI does not work.
I have enabled two tests, they're green. See the PR: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/27

[2019-09-17 14:41] crapo opened #28 "SadlToOwl in headless test"

[2019-09-17 20:49] crapo opened #29 "Detecting and cleaning up when an editor window on a .dialog file is closed"
@kittaakos , here is another loose end with which I could use some assistance. The AnswerCurationManager is persisted across invocations of the JenaBasedDialogModelProcessor. This is a necessity as it manages the answers to the questions, makes sure the same question isn't answered repeatedly, etc. However, when a Resource's editor window is closed, the AnswerCurationManger for the resource should

[2019-09-18 09:46] kittaakos commented on #14
I am working on these items.

[2019-09-18 11:14] kittaakos commented on #14
It is done. Do you want a specific URL or is the SADL one fine?

![screencast 2019-09-18 13-13-19](https://user-images.githubusercontent.com/1405703/65143856-3bdd3800-da16-11e9-8c28-1eed9ef455e0.gif)

[2019-09-18 11:17] kittaakos commented on #14
I could not reproduce it, perhaps it was fixed with the previous item.

![screencast 2019-09-18 13-15-36](https://user-images.githubusercontent.com/1405703/65143990-98405780-da16-11e9-8905-e73a9797ce87.gif)

[2019-09-18 12:16] crapo commented on #14
the uri content assist for dialog windows should provide a default URI for the model, derived from the dialog window filename, like it does for sadl. The import should only show work just like sadl. Content assist for target keyword would be like import.

[2019-09-18 12:20] #14 closed

[2019-09-19 11:03] kittaakos opened #32 "Content assist issues 2"
@crapo [wrote](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/14#issuecomment-532657651):

[2019-09-19 11:04] kittaakos commented on #29
Draft PR: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/31

[2019-09-19 11:05] kittaakos commented on #23
The rest of this task seems to be covered by #28. I propose closing this issue.

[2019-09-19 11:07] kittaakos commented on #11
This was a side-effect to of the non-working CA for the URIs. See: #14
Although we fixed the CA for imports, I propose adding another check to the `onValidate` method, and if the model has an invalid URL, we stop the validation. Otherwise, this error is logged every time to the console.

[2019-09-19 14:05] crapo opened #34 "Proper insertion into dialog window and cursor relocation"
addCurationManagerContentToDialog in DialogAnswerProvider throws exceptions and doesn't allow new text at end to be scrolled. Also, would be nice to relocate cursor to end of insertion.

[2019-09-19 15:02] #32 closed

[2019-09-19 16:09] crapo commented on #34
With the current code on master branch, I get this kind of error when inserting into the Dialog window document.

!ENTRY org.eclipse.text 4 2 2019-09-19 12:01:37.990
!MESSAGE Problems occurred when invoking code from plug-in: "org.eclipse.text".
!STACK 0
org.eclipse.swt.SWTException: Invalid thread access
	at org.eclipse.swt.SWT.error(SWT.java:4595)
	at org.eclipse.swt.SWT.error(SWT.java:4510)
	at

[2019-09-19 16:25] crapo opened #35 "Fold dialog window statements programmatically?"
When equations are extracted from code and displayed in the Dialog window, there is sometimes a lot of text in the scripts.  It would be nice to make it available on-demand but not make the big picture obscure by displaying it all. A promising solution is to fold the statements that give equation details. Is it possible to do this programmatically?

[2019-09-19 16:34] kittaakos commented on #35
Great idea.

I am pretty sure it is feasible, I never did this before, I need to check how this works.

[2019-09-19 16:36] kittaakos commented on #34
Thanks for logging. It is a little bit unrelated. See the stack-trace; it happens after the Java import part. I am sure we can fix it.

[code]

[2019-09-19 16:38] crapo commented on #34
This example is called from Java import wizard, but it goes through the same code and I think gives the same error as when inserted from elsewhere, at least sometimes.

[2019-09-20 08:47] kittaakos commented on #34
Sure, but the wizard's `performFinish` runs in a different thread the main, UI thread. It is called: `ModalContext$ModalContextThread`, that's why you see the `Invalid thread access` error. Long story short: I am going to fix this issue, but I do not think other `document` updates have the same problem.

Well if you know how to reproduce it outside of the Java import wizard consistently, please le

[2019-09-23 13:29] crapo commented on #34
@kittaakos , I pushed fix to file naming bug. Can't fully test because I end up with a console provider because I don't have your new code.

[2019-09-23 13:32] kittaakos commented on #34
Thank you!

[2019-09-23 13:47] crapo commented on #28
This is an attempt to clarify this issue. The desire is to have end-to-end code extraction (and eventually integrated code/text extraction) through saving of a "model" (equation) in the semantic and computational graph models. Here's the status.

1. The code extraction of "interesting methods” content in SADL format, appropriate for insertion into the Dialog window, is working. In the IDE it is in

[2019-09-23 14:13] crapo commented on #23
I agree, closing this issue.

[2019-09-23 14:13] #23 closed

[2019-09-25 11:31] kittaakos opened #36 "Clarification on the `DialogContent`"
@crapo, I have the following model. Let's assume, the imported `Model.sadl` exists and valid.
[code]

I set a breakpoint to the `AnswerCurationManager.processConversation(Resource, OntModel, String)` and when I open the model in the editor, I can see the `DialogContent` initialized with this state:

[code]

Question: can you please tell me why can I see `USER: CM: "lbs".` and `USER: CM: accelerati

[2019-09-25 11:49] crapo commented on #36
Surely. The conversation (dialog content) is a reflection of what is in the Dialog editor window. Once a question has been answered, e.g., question: "What is acceleration?", answer: "CM: acceleration describes Mass with values of type Acceleration.", we do not want to answer it again. If the answers weren't there we'd have no way of knowing that we shouldn't just keep answering it over and over an

[2019-09-25 11:56] kittaakos commented on #36
It makes sense. Thank you!

[2019-09-25 11:56] #36 closed

[2019-09-26 14:16] kittaakos commented on #35
It was easy. We need to do something like this when opening the editor:

[code]

**But**, as we have seen during our remote debugging session, we cannot always expand the folded ranges. I think it is an Eclipse bug. I can implement it, but if you cannot expand the folded regions during the demo, that could be wrong.

We can decide on this later because the code is a single line.

[2019-09-26 14:27] kittaakos commented on #35
It is an Xtext bug that was fixed in `2.17.0` See here: https://github.com/eclipse/xtext-eclipse/issues/863

[2019-09-26 14:32] kittaakos commented on #35
The change set for the fix in Xtext was pretty small: https://github.com/eclipse/xtext-eclipse/pull/944/files

We can do the followings:
 - We do not update to Xtext 2.17. (Although I am not aware of any technical obstacles with the update we would have to update SADL too.)
 - Instead of doing that, I can copy the code from Xtext as is, since it is open source and was licensed under EPL-2, paste t

[2019-09-26 15:03] crapo commented on #35
That seems like a good approach to me. Then when we do upgrade we can remove.

[2019-09-26 17:16] kittaakos commented on #35
OK, let's do this way. I would need one thing for this issue, when do you want to fold the regions:
 - always, or
 - only for SADL files extracted from Java, or
 - only in `.dialog` files?

Please specify, thank you!

[2019-09-26 21:07] crapo commented on #35
only in a dialog file, and really only the long-winded "answer" from code or text extraction. So is it possible to fold a region after insertion if a flag passed in says to fold the region?
The particular case that currently would benefit from folding is in AnswerCurationManager, runInferenceDisplayInterestingCodeModelResults. An outer for loop (line 450) with an inner for loop (line  492) output

[2019-10-07 13:07] kittaakos commented on #34
This is already available from the `master`:

![screencast 2019-10-07 15-03-41](https://user-images.githubusercontent.com/1405703/66314242-08564500-e914-11e9-8a48-f91bad13923e.gif)

[2019-10-07 13:08] kittaakos commented on #29
Merged to the `master` via #31.

[2019-10-07 13:08] #29 closed

[2019-10-07 13:17] kittaakos opened #37 "NPE when creating a new dialog file without any SADL files in the project"
Steps to reproduce:
 - Open an empty workspace.
 - Create a new project.
 - Create a new file, name it `x.dialog`, when asked, add the Xtext nature to the project.

[code]

The DialogAnswer provider expects the `ImplicitModel` folder but it is created only when the very first valid SADL file was created in the project.

Workaround:
 - Create an empty SADL file with the URL.
 - Repeat the original

[2019-10-07 13:21] crapo commented on #37
Humm... Seems reasonable to create the ImplicitModel folder on creation of a .dialog file, if that is easy, but does that solve the problem? I believe there is already logic in the JenaBasedDialogModelProcessor that if there is a Dialog statement before an import of a model an error is displayed requesting the user to import a model.

[2019-10-07 13:38] crapo opened #38 "Update to newer version of Eclipse?"
@kittaakos , one of the developers at GE Aviation Systems tried to develop with a newer version of Eclipse (newer than 2018-12) and apparently ran into a "plethora of issues". Is that something you would expect? Seems like there was an issue that came up that would have been resolved with a newer version of Eclipse and/or Xtext....

[2019-10-07 13:44] crapo commented on #38
More detail-- developer reports:
To be more specific, when I import SADL as a set of Maven projects, everything is fine until I restart Eclipse. Upon the second startup, Eclipse creates a "com.ge.research.sadl" project directory within the workspace aside from the "com.ge.research.sadl" project which is within the cloned git repository. I also notice that within the project explorer window, Eclips

[2019-10-07 13:50] kittaakos commented on #38
I can confirm this. I am working with `Version: 2019-03 (4.11.0) Build id: 20190314-1200` and I have to rebuild and reimport everything from scratch after I close my Eclipse. I do not know why this is happening.

[2019-10-07 13:55] crapo commented on #38
Well, maybe others will have similar issues and it will become more apparent what's happening/causing this. For the moment we will stick to 2018-12 I think.

[2019-10-07 14:36] kittaakos commented on #35
For some reason, the `ResultSet` is always `null` for me, hence I never hit the `notifyUser` code.

The query is:
[code]

We `ask` the `JenaReasonerPlugin` but [this line](https://github.com/crapo/sadlos2/blob/411d9965f0546d24a8d8c0bfaa18f5eb266c3a9c/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena-wrapper-for-sadl/src/main/java/com/ge/research/sadl/jena/reasoner/JenaReasonerPlugin.java

[2019-10-07 16:36] crapo commented on #35
I also get a null ResultSet if I create a project and content as you describe. Looking into it.

[2019-10-07 19:07] crapo commented on #35
Humm... This isn't going to work because to convert to the SADL equations and associated information the service to convert Java to Python is called, and it will fail for you as it is service within our firewall. I can give you the resulting statements that are inserted into the Dialog window, if you don't already have them. Would that help?

[2019-10-07 19:19] crapo commented on #35
WRT the original issue of the null ResultSet, I discovered (thanks to you) that the CodeExtractionModel built for new projects was out-of-date. I've updated in ASKE TA1 master.

[2019-10-07 19:34] crapo commented on #35
I have improved error handling somewhat. At least now you will get  a message about connection error instead of a stack trace. Perhaps we can work on the folding usage in a pair programming session?

[2019-10-07 19:43] crapo opened #39 "Creation of DialogAnswerProviderConsoleForTest and AnswerCurationManager for JUnit test"
Now that the DialogAnswerProvider is created in a robust manner from the IDE, the JUnit test cases are finding no AnswerCurationManager from the JenaBasedDialogModelProcessor. Is a reasonable solution to have the AbstractDialogText initialize method create an IDialogAnswerProvider (a DialogAnswerProviderConsoleForTest and an AnswerCurationManger, much as DialogAnswerProviders.register calls the ID

[2019-10-08 09:06] kittaakos commented on #35
Please schedule a call.

[2019-10-09 07:43] kittaakos commented on #37
I had to do it differently. I could not create the expected model folder structure because the `dialog` model can be broken/empty, hence invalid. For instance, the base URI of the model can be absent.

Here is my proposed solution:
 1. If the model folders (`OwlModels` and `ImplicitModel`) exist, nothing to do, we register the dialog answer provider. This use-case is the _happy path_.
 2. If the m

[2019-10-09 07:58] kittaakos commented on #38
As discussed, this issue most likely belongs to https://github.com/crapo/sadlos2.

[2019-10-09 08:38] kittaakos commented on #39
@crapo, this is due to these changes:
 - https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/commit/e3a8c7459f210b9a386609a2e3b350291f850ca5#diff-42ed585e1554ca3f8566a083806ed273L764

 - https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/commit/e3a8c7459f210b9a386609a2e3b350291f850ca5#diff-e7574beed848891dd5ff1389226b9b7fR116

Why was the removal? I am going to restore it. Otherwise, it can't work.

[2019-10-09 08:44] kittaakos opened #40 "Error: Unhandled condition: triple has a null element."
`Model.sadl`:
[code]

`SaveTarget.sadl`:
[code]

`x.dialog`:
[code]

The problematic question is:
[code]

[code]

[2019-10-09 14:32] crapo commented on #37
Seems a little complicated. Even if the dialog model is broken/empty, we know what project we are in, do we not? (Or are we concerned about the headless case?) If we know the project we know where the folder structure goes. But if this is the best way forward, let's do it.

[2019-10-09 14:42] crapo commented on #39
It was pretty painful to integrate all of the changes that I had made on master with the core-answer branch, so I may have messed it up. Not sure precisely what was deleted that causes the problem, but when you restore I can see.

[2019-10-09 15:23] crapo commented on #40
Although this will not work without the Web services for the computational graph, I believe that the error you report is fixed in yesterday's pushes.

[2019-10-09 16:40] kittaakos commented on #40
I can confirm. I have rebased from the `master`, and now I can see the error is handled gracefully in the editor; I can see `CM: "Failed to evaluate answer".`.

I am closing this as fixed.

[2019-10-09 16:40] #40 closed

[2019-10-10 12:14] #34 closed

[2019-10-10 12:14] #35 closed

[2019-10-10 12:14] #37 closed

[2019-10-10 12:14] #39 closed

[2019-10-10 12:52] crapo opened #42 "Running inference in SADL gets Dialog inference processor"
@kittaakos , I need some help with this one which has cropped up. Open a project that has a .sadl file with an Ask or Test. Invoke Test Model from the SADL menu. Inference fails with the trace below. It should not be trying to use a JenaBasedDialogInferenceProcessor for a .sadl file.

Inference of 'C:\Users\200005201\sadl3-master2\runtime-New_configuration\TestSadl3Ide\Shapes\Test.sadl' requested.

[2019-10-10 13:07] kittaakos commented on #42
A class instantiated via an extension point must not have an explicit constructor, or it must be no-args. This commit breaks it: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/commit/1e3f92013dec26f645e20449dca423f69b99b0d2#diff-2aaf1902c80345c7a3d8181ee224299eR343

Just remove the constructors, and it works.

[2019-10-10 13:40] crapo commented on #42
Ah, thank you!!! I would have been hard-pressed to find the cause.

[2019-10-10 13:40] #42 closed

[2019-10-15 15:42] crapo opened #43 "addImport method added to IDialogAnswerProvider"
@kittaakos , we need the ability to insert an import statement into a Dialog window model. I've created what I think is the right signature and start of implementation in master branch, but I'm not entirely sure how to get the location or EObject to do the actual insertion. If you could assist it would be very much appreciated.

[2019-10-15 18:12] kittaakos commented on #43
Assuming you want to do text insertion, something similar to this:

https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/blob/cb353d3bc95c5ec9d60e6d30902c282dd4f0cabf/com.ge.research.sadl.darpa.aske.dialog.parent/com.ge.research.sadl.darpa.aske.dialog.ui/src/com/ge/research/sadl/darpa/aske/ui/answer/DialogAnswerProvider.java#L325

You can use the `NodeModelUtils` just as you did previously here:

ht

[2019-10-15 21:50] agabaldon opened #44 "Importing owl files created during query processing"
Attaching a SADL project copy for reproducing problem importing owl file created during query processing (please see meeting request email).
[ASKE_TA2.zip](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/files/3731601/ASKE_TA2.zip)

[2019-10-16 15:15] crapo commented on #43
@kittaakos , this sort of works. I needed to delay the insertion of the import so that it didn't mess up the answer. But the part we don't understand is that the import shows up twice in the dialog, the first not semantically colored, and when you make a change the pseudo first one disappears. As you can't easily reproduce this, would it be possible to have another quick Skype meeting?

[2019-10-16 17:30] agabaldon opened #45 "Incorrect color highlighting of instances from imported owl file."
Importing of on-the-fly created owl files into dialog is now working. The only issue remaining is that instances that are defined on those owl files appear color pink when used in answers from the CM. I'm attaching a project that reproduces the issue. Please open the file import.dialog, which already has the content to show the issue.
[ASKE_TA2.zip](https://github.com/GEGlobalResearch/DARPA-ASKE-T

[2019-10-16 19:10] crapo commented on #44
definitely!

[2019-10-17 11:35] kittaakos commented on #45
Nice catch, @agabaldon. The highlighting code was broken in the SADL code-base. Here is the fix: https://github.com/crapo/sadlos2/pull/386

Can you please check out the [`external-highlight-fix`](https://github.com/crapo/sadlos2/tree/external-highlight-fix) branch in the SADL repository, and verify whether the highlighting issues are fixed.

Please close this item once the PR is good and merged to

[2019-10-18 12:37] crapo opened #46 "Improper code target for extraction"
Extract from Mach.java. Then extract from Isentrop.java without closing Eclipse. Second extraction is from Mach.java even though it opens Isentrop.java in a window.

[2019-10-21 16:57] jpfairbanks opened #47 "Leibniz scientific knowledge representation system"
Hey Andy (@crapo),

I ran across [this repo](https://github.com/khinsen/leibniz) on github and thought you might be particularly interested in it. The leibniz system provides a document format for writing documents that have mathematical and scientific knowledge embedded in them. They use Ordered Sorted Algebras to implement a mathematical type system and computer algebra system.  Here is a physic

[2019-10-21 19:20] crapo commented on #47
Thank you James! It is interesting. I looked pretty hard for an accepted mathematical expression language without success--guess I didn't look hard enough or smart enough. Seems forward looking, so I assume there isn't much out there that's actually in this language...

[2019-10-22 12:15] crapo commented on #44
@kittaakos , getting some unexpected results when doing import insertion. Would like to show you when you have time to have Skype meeting.

[2019-10-23 13:49] kittaakos commented on #44
@crapo do you still need assistance?

[2019-10-25 14:15] #45 closed

[2019-10-25 14:26] agabaldon opened #50 "Error creating Preferences Dialog pane on MacOS"
After installing the Dialog plugin from https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/releases/tag/TA1-2019-04-10 on Eclipse for MacOS, going to Preferences and selecting Dialog, I get an error saying:

 Unable to create the selected preference page.
 Failed to create injector for com.ge.research.sadl.darpa.aske.Dialog

This happens on both Eclipse 2019-09 and on 2018-12.

A snippet from the

[2019-10-28 17:28] crapo opened #51 "NPE on dialog file reopen"
@kittaakos , I don't expect that you can reproduce without services running, but when we run a query that inserts an importing as well as a response into the Dialog window, then close the window without saving  and reopen, then do another action that results in additions to the Dialog window we get the error below, MAC or Windows. Maybe we can have a meeting to look at tomorrow?

`java.lang.reflec

[2019-10-28 21:02] #50 closed

[2019-10-30 00:05] kittaakos commented on #51
I have [drafted a PR](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/52) with a few changes, but I cannot reproduce the issue by simply uncommenting any of the questions from the following file:

[code]

@crapo, I have seen the issue on Alfredo's mac, but I cannot reproduce it locally. How can I have the same environment as you? Thanks!

[2019-10-30 00:24] kittaakos commented on #51
I have imported the project from here: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/45#issue-507993493

[2019-10-30 02:21] agabaldon commented on #51
Andy's environment uses a local version of the services I mentioned in the email. I checked if I could reproduce the issue using simple queries that don't need those services but couldn't. Thanks.

[2019-10-30 09:53] kittaakos commented on #51
Does the insertion error occur if you temporarily disable the graph generation?

[2019-10-30 11:59] crapo commented on #51
I also had confirmed that I can't reproduce the error if only doing "simple queries".

[2019-10-30 14:23] agabaldon commented on #51
@kittaakos No it doesn't, so you're right, it has to do with that. As you're aware, one of the last changes from yesterday got rid of the NPE, but now the answers don't get added in the dialog page when querying after reopening the dialog page.

[2019-10-30 14:26] kittaakos commented on #51
This is just a guess; the graphs are opened up in the default browser inside Eclipse, which is platform dependent.

[2019-10-30 15:45] agabaldon commented on #51
Right. Changing it to open the graphs on an external browser yields the same result, at least on my setup.

[2019-11-26 19:57] crapo opened #53 "Default "Into folder" for Java Import"
@kittaakos , in the JavaFileResourceImportPage1, restoreWidgetValues method, I'd like to make sure that the "Into folder" is set to something in the project where the Dialog editor has an open file. If the IWorkbenchWindow provides an ISelection of type IStructuredSelection (I assume that would be from the Project Explorer pane) then I can get the IPath and make sure that the current Into folder i

[2020-01-22 22:07] crapo opened #54 "Test framework to process both .sadl files and .dialog files"
I was trying to get UI tests working that would process both a .sadl file and a .dialog file. I think I almost got it working but not quite. The tests in com.ge.research.sadl.darpa.aske.dialog.tests.DialogTest.xtend pass (those not ignored) in Ecllipse but fail in Maven build. The test testExtractionJavaFile is ignored because it fails in a way I don't understand related, I think, to the content t

[2020-01-27 07:31] kittaakos commented on #54
Sure, I am looking into it. I assume I have to use the `master` branch.

[2020-01-27 08:24] kittaakos commented on #54
The tests fail in Eclipse for me. When I run the test, the `SadlUtils#filetoString` fails with an NPE as the filesystem path of the extracted model is `/C:/Users/200005201/sadl3-master6/git/DARPA-ASKE-TA1/com.ge.research.sadl.darpa.aske.dialog.parent/com.ge.research.sadl.darpa.aske.dialog.tests/resources/M5Snapshot/ExtractedModels/Sources/Isentrop.txt`. This is not possible on POSIX filesystem, su

[2020-01-27 08:32] kittaakos commented on #54
https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/blob/81d6d04ffcfcd35e1a2e36da56a19042afae096b/com.ge.research.sadl.darpa.aske.dialog.parent/com.ge.research.sadl.darpa.aske.dialog.tests/src/com/ge/research/sadl/darpa/aske/tests/DialogTest.xtend#L1176

https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/blob/81d6d04ffcfcd35e1a2e36da56a19042afae096b/com.ge.research.sadl.darpa.aske.dialog.parent/com

[2020-01-27 09:39] kittaakos commented on #54
I have fixed it locally 👍  (https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/54#issuecomment-578639620)

The `JenaBasedDialogModelProcessor` is correctly picked up for the `.dialog` files when I run the tests from Eclipse. However, I have an NPE during the Java extraction.

What kind of error do you have? As I've mentioned above, I have an NPE. The code fails to extract an individual from

[2020-01-27 12:50] kittaakos commented on #54
@crapo, I would be available for a call if you want to discuss this:

[2020-01-27 13:42] crapo commented on #54
@kittaakos , does 9 EST (in about 20 minutes) work for a meeting?

[2020-01-27 13:43] kittaakos commented on #54
Yes.

[2020-01-28 17:27] crapo commented on #54
Would like to consult on some issues that I've run into on this one. Please let me know when you could do a Skype meeting.

[2020-01-30 13:45] crapo commented on #54
This now works great! Thank you.

[2020-01-30 13:45] #54 closed

[2020-01-30 13:47] crapo opened #55 "Units not properly handled in expressions"
@kittaakos , SadlASTUtils needs to be more robust to handle units in expressions, which shows up when doing Dialog model processing on the examples used yesterday for Suitability grammar. Can we have a tcon at your convenience to discuss?

[2020-01-31 08:07] kittaakos commented on #55
Can you please describe the expected behavior with a few examples? I can convert them to actual tests later. As I see `SadlASTUtils` is a static utility class so I am not sure we can customize it from the `Dialog` and rebind the injection. We might have to change it in SADL instead.

[2020-02-03 13:36] crapo commented on #55
The current implementation of isUnit uses classes from the grammar (QueryStatement, EquationStatement) to determine if something is a unit construct. This can't be extended because it cannot depend on (import) the Dialog grammar classes. If it actually needs to know what is the containing grammar class, which I don't think it does, then it would need to make a call to the relevant model processor

[2020-02-03 13:51] kittaakos commented on #55
Thanks for the update!

Great!

Good idea. We would have to transform the AST utils from a static utility class to a normal injectable class, subclass it for dialog and rebind it.

Please update this issue if we have to change the AST utils the way 👆 I recommended.

[2020-02-04 15:14] crapo opened #57 "Evaluate broken"
@kittaakos , the Dialog grammar seems to be broken in a way that puzzles me. Create a new project and create a new .dialog file with this content:
` uri "http://sadl.org/evaluate.dialog" alias ev.

 External CAL_SOS(double T, double G, double R, double Q)
 				  returns double: "http://com.ge.research.darpa.aske.kchain.CAL_SOS".

 Evaluate CAL_SOS(245.6, 1.4, 8.314, 3056).`

There will be grammar

[2020-02-04 15:19] kittaakos commented on #57
@crapo, which branch are you working on?

[2020-02-04 15:19] crapo commented on #55
Or, if it's easier, the dialog.tests DialogTest dummy_test has this issue on the evaluate line with multiple arguments.

[2020-02-04 15:20] crapo commented on #57
Or, if it's easier, the dialog.tests DialogTest dummy_test has this issue on the evaluate line with multiple arguments.

sadlos: MissingPatterns, ASKE TA1: master.

[2020-02-04 15:37] kittaakos commented on #57
I have compiler errors in `com.ge.research.sadl.jena.IntermediateFormTranslator`. Do you know how to fix them?

[2020-02-04 15:53] crapo commented on #57
I don't have any errors. What and where are you seeing errors?

[2020-02-04 15:56] crapo commented on #57
you have to rebuild the reasoner-api and reasoner-impl jars
and update the jena 3rd party project

[2020-02-04 16:36] kittaakos commented on #57
I could reproduce it with a simple parser test. When was the last time it worked? I have to check the SADL grammar changes too.

[code]

[2020-02-04 16:41] crapo commented on #57
I'm not sure exactly when it last worked. But we used this statement in demos to DARPA in October I believe.

[2020-02-04 16:55] kittaakos commented on #57
I see. I am looking into this, but it is a bit hard to trace back now, I am not sure if I can help a lot this week 😕  By the way, I created a small lexer test, and it is correct.

[code]

[2020-02-04 16:58] crapo commented on #57
What does that mean? The lexer test passes but the grammar still is deemed invalid? The grammar for this seems pretty straightforward and the test cases seem to conform, which is what puzzles me....

[2020-02-04 17:32] kittaakos commented on #57
Mee too. Especially, the model seems to be correct after the parsing:

![Screen Shot 2020-02-04 at 18 32 00](https://user-images.githubusercontent.com/1405703/73770411-abad4e80-477c-11ea-9067-aceb0e585217.jpg)

I'll try to figure out something...

[2020-02-04 19:52] crapo opened #58 "Setting of preferences in UI test cases"
@kittaakos , the UI test DialogUITest testExtractTxtFile sets a preference but the model processor doesn't see it. You won't be able to actually run the test successfully because you don't have the services running, but perhaps you can figure out why the preferences set isn't in the preference store accessed by the model processor?

[2020-02-04 21:27] crapo opened #59 "DialogTest test cases pass in Eclipse but fail when run from Maven"
@kittaakos , my Maven builds fail with failing tests, but the same tests succeed when run in Eclipse. Is this reproducible?

[2020-02-04 21:39] crapo commented on #59
Most of the errors are of the form:
Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 1.424 s <<< FAILURE! - in com.ge.research.sadl.darpa.aske.tests.BasicMissingPatternsInCompareTest
test  Time elapsed: 0.727 s  <<< ERROR!
org.eclipse.emf.common.util.WrappedException: java.lang.IllegalArgumentException: Expected a `platform:/resource/` URI. Got instead: synthetic://test/SadlImplicit

[2020-02-05 08:33] kittaakos commented on #57
@crapo, I could not build SADL. So the compiler errors are still an issue on my side.

I am on this commit in SADL: https://github.com/crapo/sadlos2/commit/85f77b1e and did the following:
[code]
Is there anything else I have to run before executing the Maven build?

[code]

[2020-02-05 09:31] kittaakos commented on #57
See: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/60

[2020-02-05 15:40] crapo commented on #57
The CsvImporter is in the com.ge.research.sadl.jana-wrapper-for-sadl project. However, I don't have any diffs in MANIFEST or pom files for either this or the sadl.ui projects. Puzzled.

[2020-02-05 15:46] kittaakos commented on #57
Can you build a fresh clone?

[2020-02-05 15:48] crapo commented on #57
do you mean fresh pull of code from github? not sure what you mean by clone...

[2020-02-05 15:53] crapo commented on #57
In this error: The constructor CsvImporter(IConfigurationManager) is undefined
what does the "(IConfigurationManager)" mean?

[2020-02-05 16:03] crapo commented on #57
sorry, I wasn't thinking in git terms. I've downloaded a clone and will try maven build

[2020-02-05 16:04] kittaakos commented on #57
Yes.

[code]

Did it fail on your side too? 😕

[2020-02-05 16:05] crapo commented on #57
still working....

[2020-02-05 16:10] crapo commented on #57
WRT the evaluate grammar, the use of Expression was to allow something like:
MyRect is a rectangle with length 10, with width 5.
Evaluate areaOfRectangle(length of MyRect, width of MyRect).
as well as
Evaluate areaOfRectangle(10 ft, 25 in).

[2020-02-05 16:12] crapo commented on #57
I do not have a maven failure in sadl.ui. I do have test failure in sadl.ui.tests, which I will look into.

[2020-02-05 16:12] crapo commented on #57
I'm using the MissingPatterns branch.

[2020-02-05 16:12] kittaakos commented on #57
I have wiped my local maven cache and ran a fresh build again, now I have test failures only:
[code]

So this issue seems to be resolved.

[2020-02-05 16:20] crapo commented on #57
ah, the test failures are because I thought I pushed test case fixes but I didn't.

[2020-02-05 16:21] crapo commented on #57
updated test cases pushed now

[2020-02-05 17:49] crapo commented on #57
OK, I did  a little thinking and a little reading, and I think the error is because the comma can either be between arguments or part of the expression. I don't think we need the expression to have commas, so I tried using ExpressionParameterized with comma disallowed, giving for the grammar:
EvalStatement returns SadlEquationInvocation:
	{SadlEquationInvocation} ('Evaluate'|'evaluate') name=SadlR

[2020-02-05 19:20] kittaakos commented on #57
Great! I closed the other PR (#61) where I used the booleans incorrectly.

I updated the actual PR (#60) with your grammar suggestion. On top of that, I have extracted the  `parameters` and `units` pairs into a  dedicated parser rule. (See the changes here: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/commit/fe776822355e6cd7342b8dd37fc072b0a40128e9#diff-17d5616c3f7cc3e0decb925ea31d3ed2) With

[2020-02-05 19:32] crapo commented on #57
Excellent, and thank you!! I'll merge as soon as I get a chance.

[2020-02-06 13:26] #57 closed

[2020-02-06 14:13] crapo commented on #57
I did make one additional change. With the ParamterizedExpressionWithUnit construct, there is no need for a unit list. The expectation that any one argument to an Evaluate will only have one unit.

[2020-02-07 15:27] crapo opened #63 "See annotation refactoring"
@kittaakos , I added a "see" annotation a while back to the SADL grammar. Now I want to add the ability for the backend AnswerCMStatement to have "(see <URL>)" after any statement so that we can have a link to related graphics, etc. However, I'm running into grammar issues. I thought that they could be resolved by refactoring SadlAnnotation  to separate the optional leading "," from the annotation

[2020-02-10 08:26] kittaakos commented on #38
FYI: I have to bump up the Xtext version, and most likely the Eclipse IDE too to the latest, when I start working on Web SADL.

I will open an upstream issue in SADL if required.

[2020-02-10 08:45] kittaakos commented on #58
Which branch? I have compiler errors on the `master`:
I have built it against the SADL `master`.

[code]

[2020-02-10 09:14] kittaakos commented on #58
Here is the fix: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/64

[2020-02-10 09:29] kittaakos commented on #59
It fails on my side from Eclipse too:
[code]

Which branch should I use?
 - I was on `development` in SADL: https://github.com/crapo/sadlos2/commit/c03a0f3b
 - And `master` in `Dialog`: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/commit/9b153b8

[2020-02-10 12:24] kittaakos commented on #63
The problem of the ambiguous `SADLResource` rule:
![ruleSadlResource](https://user-images.githubusercontent.com/1405703/74149711-ad599500-4c08-11ea-8c7e-2c1310598179.jpg)

I will try to come up with a solution, right now, I do not know if it is possible.

[2020-02-10 13:30] kittaakos commented on #63
It seems it won't work if we want to reuse the parser rule from SADL. What was the original intention; would the annotation belong to the SADL resource or the entire CM statement?

[code]

If we would reuse the rule, the parser could not decide what to do with:
[code]

@crapo, why did you want to reuse the rule from SADL? Does it make easier to write an annotation processing code? We could create

[2020-02-10 14:06] crapo commented on #63
I don't really want to reuse the rule from SADL, and I want it to apply to the entire CM statement, but I want to use the keyword "see', which seem like it can't be done. The reason that I want it to be for the entire CM statement is so that it can be applied to any of the many possible forms, e.g., a quoted string.

[2020-02-10 14:09] crapo commented on #59
Sorry I didn't say. MissingPatterns for SADL and master for Dialog.

[2020-02-10 14:11] kittaakos commented on #59
:+1: Checking.

[2020-02-10 14:12] kittaakos commented on #63
Please write a few examples without modifying the grammar and I check if it is feasible. Thank you!

[2020-02-10 14:13] #58 closed

[2020-02-10 14:14] crapo commented on #38
We're currently using Eclipse 2018-12 for development. What version will you go to for Eclipse?

[2020-02-10 15:11] kittaakos commented on #59
It's fixed: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/65

[2020-02-10 15:29] #59 closed

[2020-02-10 22:33] crapo commented on #63
Attaching a dialog file with examples of various AnswerCMStatements.

[AnswerCMStatementLinks.dialog.txt](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/files/4183380/AnswerCMStatementLinks.dialog.txt)

[2020-02-11 10:16] kittaakos commented on #63
Thank you! Unfortunately, it won't work. We can either put the CM annotation after the `EOS` or we have to use `see also` keyword. See the examples:

[code]

[code]

[2020-02-11 11:30] crapo commented on #63
OK, thanks. Have to think about this. Maybe we'll do "(See <url>.)" after EOS so it is proper capitalization and punctuation for English. At that point I believe it just becomes another statement ending in EOS that doesn't have a newline in front of it (or it could, as it can appear anywhere).

[2020-02-11 11:52] kittaakos commented on #63
OK, let me know if you have chosen one of them. I can prepare the PR with some tests.

[2020-02-12 14:53] crapo commented on #63
I've implemented what I think is the desired grammar and pushed to master, along with associated model processing. Please review and add any test cases you think useful. These statements are now valid:
 CM: Fruit is a class. (See "https://www.wikidata.org/wiki/Q3314483".)

 CM: Graph "select ?x ?y ?z where {?x ?y ?z}". (See "file:///C:/Users/200005201/sadl3-master2/runtime-New_configuration/TestSa

[2020-02-12 16:23] kittaakos commented on #63
Thanks for the heads-up.

FYI, I  can write this too.
[code]

[2020-02-12 18:08] crapo commented on #63
Yes, the implication intended is that the statement refers to something that came before, perhaps all of what came before.

[2020-02-12 18:14] crapo opened #66 "Process generated SADL text in JUnit test?"
In our JUnit tests we have create models with constructs such as
'''
...
'''.sadl

or

'''
...
'''.assertValidatesTo [ ... | ...]

I would like to be able to do extraction to create content and then pass the extracted SADL or Dialog content to the validator to generate a model, get the resulting OWL model, etc. How would that be written in xtend?

[2020-02-19 15:03] crapo opened #67 "Dialog window CM addition display issue"
@kittaakos ,  have a reproducible problem with the display of backend-inserted text in the Dialog window. Because of the services, it isn't easy for you to reproduce. Could we start by seeing if a collaborative debugging session sheds light on the issue before investing the time to get the services up and running for you? I'm available anytime today if you have a few minutes...

[2020-02-19 16:20] kittaakos commented on #67
I would like to be able to reproduce it locally, if possible.

[2020-02-19 19:37] crapo commented on #67
I think I found the problem with this. If it persists I'll have to figure out how to give you a working example.

[2020-02-19 19:37] #67 closed

[2020-02-19 19:41] crapo opened #68 "Long-running user query with busy indicator"
@kittaakos , some of the user queries take long enough to answer that we need to give the user feedback that the process is running. I'm not sure how this can be done. I tried an approach where the DialogAnswerProvider has a method called from the AnswerCurationManager when doing a query. I thought I could use BusyIndicator.showWhile to call back to AnswerCurationManager to actually do the query w

[2020-02-20 13:42] kittaakos commented on #68
Correct. The current logic, which updates the text document during the build/validation, is already very complex. Since both the validation and the build run in a `Job`  (another `Thread`), I am not sure if we can wait and sync the UI.

[2020-02-21 08:37] kittaakos commented on #68
@crapo, are you aware of the "new" Eclipse `Core Mining` feature?
 - https://www.eclipse.org/eclipse/news/4.10/pde.php#target-definition-code-mining
 - Eclipse API: https://www.eclipse.org/eclipse/news/4.8/platform_isv.php
 - A JDT example: https://github.com/angelozerr/jdt-codemining

We could do something similar. Instead of automatically inserting the answers to the document, we could make this

[2020-02-24 14:10] crapo commented on #68
It's kind of late in the game to make any big changes. We have another 6 weeks max to get to whatever will be our best end point. I don't think we care about waiting, but more like if the user doesn't do anything and the focus stays in the dialog editor window, any way to show a busy cursor?

[2020-02-24 14:13] crapo commented on #68
or alternatively run the ACM process in a thread with a progress bar?

[2020-02-27 15:02] crapo commented on #68
@kittaakos , have pushed grammar and code to master branch to test long running tasks. The statement to put in the Dialog Window is
`Long task 5000.`
The processing is in the AnswerCurationManager, starting at line 2758.
The response to the Dialog when complete is
`CM: "Task took 5000 ms".`

[2020-02-27 15:03] crapo commented on #68
@kittaakos , have pushed grammar and code to master branch to test long running tasks. The statement to put in the Dialog Window is
`Long task 5000.`
The processing is in the AnswerCurationManager, starting at line 2758.
The response to the Dialog when complete is
`CM: "Task took 5000 ms".`

[2020-02-27 15:16] kittaakos commented on #68
@crapo, do we work against SADL `development`? If no, which is the correct branch?

[2020-02-27 15:17] crapo commented on #68
I'm using sadlos2 MissingPatterns right now

[2020-02-27 15:17] crapo commented on #68
@kittaakos , have pushed grammar and code to master branch to test long running tasks. The statement to put in the Dialog Window is
`Long task 5000.`
The processing is in the AnswerCurationManager, starting at line 2758.
The response to the Dialog when complete is
`CM: "Task took 5000 ms".`

[2020-02-27 15:18] kittaakos commented on #68
Thank you!

[2020-02-27 16:06] kittaakos commented on #68
This won't work, unfortunately. As you can see, the long-running logic was triggered by Eclipse `Job`s; I cannot call UI code from there.

![Screen Shot 2020-02-27 at 16 50 56](https://user-images.githubusercontent.com/1405703/75461669-6519d100-5983-11ea-9f92-9dff6b471c14.jpg)

[2020-03-03 15:32] crapo opened #75 "preference not getting set as expected in UI test"
@kittaakos , I'm working on more JUnit tests and have hit a show-stopper. In the dialog.ui tests project, there is a JUnit test file P2UITests.xtend with a single test case. The preference TYPE_CHECKING_WARNING_ONLY is set to true in the beginning of this test. This setting is essential to be able to load Turbo.sadl (call to reusableTurbo). But when Turbo.sadl is validated the preference is false

[2020-03-03 15:57] kittaakos commented on #75
@crapo, which SADL and Dialog branches should I use?

[2020-03-03 18:28] crapo commented on #75
I'm on sadlos2 MissingPatterns and dialog master.

[2020-03-04 10:43] kittaakos commented on #75
PR: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/76

[2020-03-04 13:55] crapo commented on #75
I would think that the setting of preferences in the beginning of the test would suffice and the setting in the individual sadl file processing (e.g., turbo) wouldn't be needed. Hence I moved the 3rd preference setting added at line 151 to the test (line 49) and commented out the preference settings in reusableTurbo. When I got the processing of the dialog preference P_USE_ARTICLES_IN_VALIDATION a

[2020-03-04 13:59] crapo commented on #75
There is one other issue, which could be separate but is seen in this same test case so I'll put it here for the moment. The pre-validation of the sadl imports, e.g., the call to reusableTurbo, cause validation of the sadl model and I would expect put a copy of the generated OntModel into the OntModelProvider referenced by Resource. However, when the JenaBasedDialogModelProcessor gets to processMo

[2020-03-04 14:00] kittaakos commented on #75
Please share your broken test case on a branch or the `master`, so I can look into it.

[2020-03-04 14:08] crapo commented on #75
I've pushed to Dialog master, also pushed my latest after PR merge to sadlos2 MissingPatterns.

[2020-03-04 14:23] kittaakos commented on #75
Thanks, I have pulled from both repositories.

This is a correct assumption. It should work like this.

I could not reproduce it. I do not know if it is mandatory or not, but I always have to do `mvn install` in  SADL. Otherwise, the `Dialog` project does not see my SADL changes. Did you do that too?

I made this tiny modification:
[code]

And all the logged values are `false`:
[code]

I could not

[2020-03-04 15:00] crapo commented on #75
The error you list (Did not find crule variable...) only occurs because isUseArticlesInValidation returns true when it should return false per the setting.

[2020-03-04 15:04] crapo commented on #75
I'm re-running to provide better information.

[2020-03-04 15:05] crapo commented on #75
Ah, just saw your comment about the mvn install in sadl. Will do.

[2020-03-04 15:32] crapo commented on #75
I've done a mvn install on sadlos2, refreshed my eclipse projects, run the P2UITests test case with breakpt in isUseArticlesInValidation. It stops there while processing the dialog content and the value of useArticlesInValidation is true.

[2020-03-05 12:53] crapo commented on #75
Override of preference in JBDMP was responsible for the behavior.

[2020-03-05 15:05] crapo commented on #75
Well, still not getting preference as expected. @kittaakos , can we have a tcon to show/discuss? This is serious blockage.

[2020-03-05 15:09] kittaakos opened #77 "performance investigations"
@crapo, I am opening this thread to share my findings regarding the performance. It turned out very quickly, the bottle-neck is the `Turbo.sadl`, opening and touching (without saving) the file requires validation, the validation of this file takes ~7-8 seconds on my environment:
[code]

I started to profile `Turbo.sadl`. I open the file wait for the validation, start profiler, touch the file by ad

[2020-03-05 15:10] kittaakos commented on #75
Sure, please send the Skype link and I'll join in a few minutes.

[2020-03-06 12:09] kittaakos commented on #77
Upstream PR: https://github.com/crapo/sadlos2/pull/405

[2020-03-09 12:43] crapo commented on #77
Great job Akos!! This is refreshingly better!

[2020-03-09 12:43] #77 closed

[2020-03-09 12:52] crapo commented on #75
this was due to an explicit setting of the preference in code that was meant to be temporary but was left in. Now works as expected.

[2020-03-09 12:52] #75 closed

[2020-03-09 12:54] crapo commented on #63
This is now satisfactory in the grammar.

[2020-03-09 12:54] #63 closed

[2020-03-09 13:07] kittaakos commented on #77
@crapo, if we want to further increase the performance numbers, we can still disable the "deep-validation" you have suggested last time. Let me know if you need it.

[2020-03-09 13:10] crapo commented on #77
For the moment I think we're good. Let's see if we need further improvement before taking that complicating (for the user) step.

[2020-03-09 20:15] crapo opened #80 "Content assist improvements"
@kittaakos , another area of significance for improvement of user experience is content assist. You've worked on this in the past and the basic architecture is in place, but it doesn't work in a number of instances as expected. If you have any time available, let's work together to improve this. I can provide examples and what should be the completion options. Let me know if you would be available

[2020-03-10 07:58] kittaakos commented on #80
I have, let's do it.

Yes, please. The only way I can help if you provide the DSLs, the cursor positions and the expectations for the content assist, then I can implement those cases.

[2020-03-10 13:46] crapo commented on #80
Here's a start. Suppose that I'm creating a brand new model, either in a .sadl file or a .dialog file. I have entered the following statements.
`Aircraft is a class.
Engine is a class.
engine describes `
With the cursor at the end of the last line, content assist gives the correct answers (Aircraft, Engine) along with the also correct answers of all of the classes in implicit models, all in a sing

[2020-03-10 15:30] kittaakos commented on #80
I can start with this, sure.

This seems to be straightforward.

The things you have described aren't SADL specific? What does it do with `Dialog`?

[2020-03-10 15:32] crapo commented on #80
these should behave the same way in both, so I assume it is implemented in SADL and inherited in Dialog.

[2020-03-10 15:35] kittaakos commented on #80
Correct. Thanks for the clarification.

I am going to work on this starting tomorrow. If you have any other requirements, please add them to this issue.

[2020-03-10 15:42] crapo commented on #80
I will add more.

[2020-03-12 19:42] crapo opened #81 "QuickFix from aliases"
As nearly as I can tell, quick fixes from alias was merged into development on Feb 10 and development into MissingPatterns on Feb 17, so I think I should have this in MissingPatterns. I was hoping that it would be inherited by Dialog. Here's a SADL example that I thought should work but doesn't:
[code]
I expected to have a quick fix to change "speed" to "velocity" on the last line.

Here's a Dialo

[2020-03-13 07:32] kittaakos commented on #81
I'll take care of this.

[2020-03-13 10:38] kittaakos commented on #81
Yes, you have. It is there.

It is inherited as far as I can tell. The dialog quick fix provider extends the SADL one.

The Jena based SADL model processor should take care of adding a warning. Like we do in this example:

[code]

Here is the code: https://github.com/crapo/sadlos2/blob/e34536cf336f10aaeba6c849e2b577ab4e616340/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena/src/com/ge/r

[2020-03-13 11:17] crapo commented on #81
I'm a little fuzzy on what would be required for it to actually work for these situations. Is that clear to you? How difficult?

[2020-03-13 12:06] kittaakos commented on #81
Yes, please put a breakpoint here: https://github.com/crapo/sadlos2/blob/e34536cf336f10aaeba6c849e2b577ab4e616340/sadl3/com.ge.research.sadl.parent/com.ge.research.sadl.jena/src/com/ge/research/sadl/jena/JenaBasedSadlModelProcessor.java#L10238

With this, it works
[code]

With another example it does not:
[code]

The problem is in the model processor. With the first example, the text you want to r

[2020-03-19 12:10] crapo commented on #13
@kittaakos , so what do you mean by "I hope it will work, but Dialog does not belong here." I hope you just mean that it's the wrong repo on github for the issue, not that Dialog isn't going to work imported into Eclipse-2020-03. Do you expect that I need to do anything to make it work?

[2020-03-19 12:31] kittaakos commented on #13
Yes. I have a hard time following the requirements if I get a GitHub notification from `sadlos2` but you want to do something with Dialog.

It should work, I did it several times.

No.

[2020-03-19 13:09] crapo commented on #13
Here's what I've done:
1. Cloned DARPA-ASKE-TA1 repo
2. Imported as existing maven projects (forgot to do mvn install first)
3. Deleted projects and did mvn clean install
4. mvn install failed:
15634 [org.eclipse.emf.mwe2.launch.runtime.Mwe2Launcher.main()] ERROR mf.mwe2.launch.runtime.Mwe2Launcher  - org/eclipse/emf/mwe2/ecore/CvsIdFilteringGeneratorAdapterFactoryDescriptor
java.lang.NoClassDefFo

[2020-03-19 13:10] crapo commented on #13
@kittaakos , can you help me get Dialog working with Eclipse-2020-03?

[2020-03-19 13:45] kittaakos commented on #13
Yes, please send the link.

[2020-03-20 12:33] crapo commented on #13
@kittaakos , what was the git bash cmd line inclusion to set the proxy? I can't seem to find it anywhere.

[2020-03-20 13:00] kittaakos commented on #13
We used it to bypass, unset the proxy. Did you mean this? https://stackoverflow.com/questions/41439747/how-to-bypass-the-http-proxy-that-i-have-set-using-git-config

[2020-03-20 13:01] crapo commented on #13
Yes, thanks!! I couldn't find that by googling to save me.

[2020-03-24 12:45] crapo opened #92 "Grammar issue with Add"
@kittaakos , this is master branch. If I have the expression in a Dialog window:
`add c = sqrt(pow(x1,2)+pow(x2,2)).`
it is fine. But if I use "y" for one of the variables, it is not:
`add c = sqrt(pow(x,2)+pow(y,2)).`
I suppose this must be because the Dialog grammar includes:
`YesNoAnswerStatement:
	{YesNoAnswerStatement} answer = ('Y'|'y'|'Yes'|'yes'|'N'|'n'|'No'|'no')
;`
but I don't really see

[2020-03-24 12:51] kittaakos commented on #92
I am look into it..

[2020-03-24 13:46] kittaakos commented on #92
Here is the simplified version of the problem:
[code]

[2020-03-24 14:08] kittaakos commented on #92
Quite ugly, but you can do something like this:
[code]
Then the followings work in a `.dialog` file:
[code]

[2020-03-24 14:52] crapo commented on #92
Very clever! I still don't understand why, once you have "Add ...y..." it is a conflict since a YesNoAnswerStatement can't appear after the "Add" keyword. But results is what matters here!!

[2020-03-24 14:52] #92 closed

[2020-04-02 12:19] crapo opened #97 "how to get the location information of an EObject without leading comments"
@kittaakos , I have this in a Dialog window:

[code]
In other words, there are comments before the statement "External foobar....".
I can get the text of just the statement with this:
`NodeModelUtils.getTokenText(NodeModelUtils.getNode(element))`

How can I get the starting point of the statement? This
`NodeModelUtils.getNode(element).getTotalOffset()`
gives the starting point of the comment befor

[2020-04-02 12:52] kittaakos commented on #97
Can you please format your DSL? I do not understand your model input. [Here is a cheat-sheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting) for code-blocks. Thank you!

Have you tried `NodeModelUtils.findActualNodeFor(element)`?

[2020-04-02 13:08] crapo commented on #97
I edited the original issue to make the code readable. Yes to your question, I was using this:
[code]
Where element is the EObject for the ExternalEquationStatement. This returned the "txt" to be the two comments plus the ExternalEquationStatement text. The "start" was the location of the end of the import statement, the length 639, clearly including the comment, etc.

I was getting the larger tex

[2020-04-02 13:13] kittaakos commented on #97
Thank you!

Just use `getOffset` and `getLength`.

Here is a test case demonstrating the differences:
[code]

This will print
[code]

With `offset` you do not care about hidden nodes, such as comments, if you want total, it includes hidden things too.

[2020-04-02 14:08] crapo commented on #97
That was extremely helpful! Don't know how I've missed that for so long. Thank you!

[2020-04-02 14:08] #97 closed

[2020-04-15 14:12] crapo opened #104 "renaming of SadlResources in SADL and Dialog"
@kittaakos , one of the capabilities of xtext that can be implemented for a DSL is, I believe, the abiltiyh to rename a concept and have the new name appear wherever it is referenced. How hard would it be to implement this for SadlResources in SADL and Dialog? It would be very helpful for this project and in general. Is this something that could be done in a couple of days? If so, how soon could y

[2020-04-15 14:53] kittaakos commented on #104
It should work out of the box. I wanted to verify this, but I could not build it.
I am on `MissingPatterns` in SADL and on the `master` branch in Dialog.
Do you know what's causing the problem?

[code]

[2020-04-15 15:13] crapo commented on #104
sorry to be imprecise. ASKE TA1 branch should be CodeExtraction for this.

[2020-04-15 15:24] kittaakos commented on #104
I am on that branch, but I still have the same build error. Were there any dependency updates recently?

[2020-04-15 15:29] crapo commented on #104
I have an updated target file for sadlos2 MissingPatterns that I haven't pushed (and I got from you I think) because Alfredo isn't yet on Eclipse 2020-03. Otherwise none that I know of. I don't think I've seen this error.

[2020-04-15 15:37] crapo commented on #104
I have tested Rename element and can report that it doesn't not work.

[2020-04-15 15:40] kittaakos commented on #104
Seem to be OK now, I had to wipe the entire repository state locally.

I agree. 👍 It's a good idea.

I have to check why it does not work out of the box, but I think it should be feasible.

I can start working on this tomorrow, but let me check and get back to you with better time-estimation.

[2020-04-15 16:02] crapo commented on #104
Thanks!!

[2020-04-16 11:00] kittaakos commented on #104
@crapo, it is a non-trivial task. Xtext supports the rename/refactoring in two different ways:
 - The default one requires cross-references. SADL grammar does not use cross-references for the SADL resources, so we cannot use it.
 - The other approach is based on text-modifications with the change-serializer. This API was introduced in Xtext 2.13, now we are at 2.14, so I am expecting quite a lot o

[2020-04-16 11:24] crapo commented on #104
Thank you. Please keep me posted. This would be a significant improvement to SADL usability.

[2020-04-16 21:54] crapo commented on #104
As we move towards our final demo, this renaming would be extremely helpful, even if it only worked within a single .dialog file by the demo freeze, which will be by Wednesday next week. Let me know if focusing on that helps. I judge from the animated image that you may already have that working in some context. Would it work in .dialog files?

[2020-04-17 14:40] kittaakos commented on #104
@crapo, I made some progress but I am not as optimistic as I was yesterday. We can support the followings:

Rename local SADL resource in both SADL and Dialog file:
![screencast 2020-04-17 16-26-31](https://user-images.githubusercontent.com/1405703/79580403-3d183580-80c9-11ea-8655-7faeeb002a43.gif)

Rename SADL resource in both SADL and Dialog file, will update SADL resource at declarations-side:

[2020-04-17 14:54] crapo commented on #104
Not sure if this would make it any easier, but it would be acceptable to have to go to the definition to rename. I don't understand the last bullet.
The primary purpose would be that we extract concepts from code comments that are suggested additions to the ontology, and these appear as augmented (semantic) types in the equation signature. We would like the user to be able to rename these concepts

[2020-04-17 15:03] kittaakos commented on #104
I created to PRs if you want to experiment with the changes. Nothing else should be affected:

SADL PR against the `MissingPatterns` branch: https://github.com/crapo/sadlos2/pull/416
Dialog PR against the `CodeExtraction` branch: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/105

[2020-04-17 15:21] crapo commented on #104
I hate to show my git ignorance, but how do I experiment without merging the PR? Just go to the branches that you must have created?

[2020-04-17 17:11] kittaakos commented on #104
Yes.

In a command line, you `fetch` (you can `pull` too), and `checkout` the branch.

[2020-04-20 07:35] kittaakos opened #106 "java.lang.StringIndexOutOfBoundsException: String index out of range: 67 with broken AST"
`a.sadl`:
[code]

`d1.dailog`:
[code]

Error:
[code]

[2020-04-20 11:11] kittaakos commented on #104
I have updated both PRs; the above items are fixed now. 👆

[2020-04-20 12:18] crapo opened #107 "content assist after "Add" in Dialog"
@kittaakos , if you have time, could you investigate why there is no content assist available in a Dialog window after the keyword "Add" (or "add")? Should be able to reproduce with any small ontology. The content should be classes and properties.

[2020-04-20 12:53] kittaakos commented on #107
It's not implemented yet.

[2020-04-20 13:12] crapo commented on #107
Is this a lot of effort to implement? I guess I don't understand how much CA is inherited from sadl and how much is unique implementation in Dialog.

[2020-04-20 13:13] crapo commented on #104
Do I see correctly that you've merged these into MissingPatterns?

[2020-04-20 13:13] kittaakos commented on #107
No, but I am still working on the rename/refactoring. (#104)

[2020-04-20 13:16] crapo commented on #107
Great!! :-) I am very excited about that major improvement!

[2020-04-20 13:24] kittaakos commented on #104
Not at all. The changes are still on the [`GH-415`](https://github.com/crapo/sadlos2/tree/GH-415) branch. Have you had the chance to try it?

[2020-04-20 13:39] crapo commented on #106
fixed

[2020-04-20 13:39] #106 closed

[2020-04-20 13:43] kittaakos commented on #104
I have added some basic testing for the rename, but the `Dialog` content updates break it in some cases; please reference the screencast:

![screencast 2020-04-20 15-39-48](https://user-images.githubusercontent.com/1405703/79758258-75b04d00-831d-11ea-9660-3f46a0c1b1b0.gif)

The editor content is updated with:
[code]

And it breaks the refactoring workflow.

[2020-04-20 13:51] kittaakos commented on #107
Did you mean SADL resources with either `OntConceptType.CLASS` or `OntConceptType.CLASS_PROPERTY` type? Can you please refine the requirements a bit? Thank you!

[2020-04-20 14:47] kittaakos opened #108 "The dialog model processor does not attach the Jena model to the resource if the contents list is empty"
https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/blob/2907e5f63f759fd08cbab62a8766c6a0840bd020/com.ge.research.sadl.darpa.aske.dialog.parent/com.ge.research.sadl.darpa.aske.dialog/src/com/ge/research/sadl/darpa/aske/processing/JenaBasedDialogModelProcessor.java#L220-L222

Is there a chance to change this logic, @crapo? If I have an empty dialog model with the `uri` only, the ontology model is `n

[2020-04-20 15:03] kittaakos commented on #108
Besides the empty contents list, we terminate the `onValidate` workflow when the AST is not valid:

https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/blob/2907e5f63f759fd08cbab62a8766c6a0840bd020/com.ge.research.sadl.darpa.aske.dialog.parent/com.ge.research.sadl.darpa.aske.dialog/src/com/ge/research/sadl/darpa/aske/processing/JenaBasedDialogModelProcessor.java#L366-L368

And we do not attach the

[2020-04-20 15:10] crapo commented on #108
Yes, this logic can be changed. I think the only thing that matters, I think, is that we don't call the AnswerCurationManager to process a conversation if there is an invalid AST. So rather than return on empty content or invalid AST, we just need to not do this on these conditions:
`			// Do this **after** setting the resource information in the OntModelProvider
			try {
				getAnswerCurationMana

[2020-04-20 15:26] crapo commented on #104
Humm... this is a little like the discussion about JenaBasedDialogModelProcessor onValidate. The call to AnswerCurationManager processConversation shouldn't happen until the renaming is complete and the new name is resolved. I think I can add logic to detect an invalid query. Would onValidate get called again after the imported ontology is updated and the new name is resolvable?

[2020-04-20 15:34] kittaakos commented on #104
Yes, sort of. In general, we should not update the resource when validating it but trigger the conversation updates on-demand, with another UX feature: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/68#issuecomment-589554057. I know, it's out of scope for now but please let's discuss this after the demo.

Correct.

That would be great!

Yes. It did not work before like that, but I made

[2020-04-20 15:41] crapo commented on #107
So the definition of the statement starting with "Add" is:
`NewExpressionStatement:
	('Add'|'add')
	(newExpr=Expression
	)
;`
It isn't really that broad as it should probably be "real expressions", which in the SADL grammar start with ExpressionParameterized. In the shortterm, it would be very helpful if one could get a list of any SadlResource of type OntConceptType.CLASS, OntConceptType.CLASS_PR

[2020-04-20 18:58] crapo commented on #104
Unfortunately, it isn't that easy.

If the concept isn't defined, we want the processConversation call to tell the user that the concept isn't defined. I would need to know that a rename workflow is in-progress in order to just not make the call to processConversation. Is that possible?

[2020-04-20 19:10] crapo commented on #104
I note that renaming a concept in a Dialog editor does not turn on the dirty flag--I guess it doesn't need to be saved? Or is that unexpected?

[2020-04-20 19:33] crapo commented on #108
I have made these changes in branch GH-104 and pushed.

[2020-04-21 09:28] kittaakos opened #109 "[proposal]: Disable the Outline"
@crapo, can we disable the Outline synchronization? I am not sure if the current Outline is useful but the refreshing job and the synchronization cause errors from time to time.

![Screen Shot 2020-04-21 at 11 28 04](https://user-images.githubusercontent.com/1405703/79849761-36d4d280-83c3-11ea-8970-fd225c583409.jpg)

[2020-04-21 09:32] kittaakos opened #110 "BadLocationException when saving the Dialog editor. The AST is valid, all links are resolved"
Model:
[code]

Error:
[code]

[2020-04-21 09:47] kittaakos commented on #110
I cannot reproduce it consistently 😕

[2020-04-21 09:58] kittaakos commented on #110
It has to do something with the undo-stack; happens when I do <kbd>⌘</kbd>+<kbd>Z</kbd>(`undo`) in the editor. Unfortunately, I am still unable to consistently reproduce the defect.

[2020-04-21 12:44] crapo commented on #110
I think it has to do with using EMF Resource rather than URI to store dialog widow content. I'm fixing in MissingPatterns branch of sadlos2

[2020-04-21 13:47] kittaakos opened #111 "BasicEList$BasicIndexOutOfBoundsException: index=0, size=0 with incomplete AST"
We can do this later, it's not urgent. Happened on `GH-104` branch.

Model:
[code]

Error:
[code]

[2020-04-21 14:00] crapo opened #112 "Xtext window that had focus"
@kittaakos , In using the Java import wizard in ANSWER, I need, from the JavaImportOperation, to determine which .dialog window had the focus when the import began so as to use the right window for the results. Is there some easy way to do this? This would allow retrieval of the correct DialogAnswerProvider around line 700 in JavaImportOperation.

[2020-04-21 14:10] crapo commented on #110
I think this is resolved with the update to use URI, pushed to sadlos2 MissingPatterns and ASKE TA1 CodeExtraction branches.

[2020-04-21 14:47] kittaakos commented on #112
Unfortunately, I do not have time for this now, I am still trying to fix the rename/refactoring for Dialog.

You can get the `activePart` with:
[code]
You can check if the `activePart` is an `instanceof` an `XtextEditor`.

You can get the `editorReferences` with:
[code]
If you want to do some other logic with opened editors.

[2020-04-21 14:50] crapo commented on #112
I tried that--getActiveWorkbenchWindow returns null when the import wizard is open. This is not urgent at all. Thanks! We can address later.

[2020-04-21 16:04] kittaakos commented on #104
@crapo, I've managed to put together a state which works with my super naive use-cases. I am going to update the PR and prepare it for the merge. Can you please try it, and if you are OK with it, you can integrate the change into the CodeExtraction branch.

Also, you will have the demo tomorrow, right? Do you want to have a quick sync-tcon? If so, please email the link, I am going to be available

[2020-04-21 16:13] crapo commented on #104
Tomorrow is the code freeze for the demo on Friday. When the PRs are updated I will try it out. If needed we can synch up then or tomorrow when my day starts if you are available.

[2020-04-21 17:36] kittaakos commented on #104
I have updated both PRs. The changeset is ready if you want to try it again.

 - I added a service that tracks if a rename/refactoring is in progress, as far as it can, so we do not update the conversation.
 - Please note, if you are `undo`-ing a rename/refactoring, this newly added service cannot do anything, so you will see `CM: Concept x is not defined; please define or do extraction.`.

**Note

[2020-04-21 21:41] crapo commented on #104
@kittaakos , this is looking good! I'll do more testing tomorrow, but it seems pretty well behaved for what we want to demo.

[2020-04-22 08:46] kittaakos commented on #107
I have implemented it. It's part of https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/105.

![screencast 2020-04-22 10-43-30](https://user-images.githubusercontent.com/1405703/79961013-6698de80-8486-11ea-9fc3-b9a53517ae64.gif)

[2020-04-22 09:32] kittaakos commented on #112
I see. In theory, you could use `PlatformUI.getWorkbench().getWorkbenchWindows()[0].getPages()[0].getActiveEditor()` to get the active editor, but that is the Java editor for the file we're currently importing.

Since the Java editor has the focus, we have to visit all editors and find the desired Dialog editor. There can be multiple.

You can use this to find a Dialog editor:
[code]
Above snippet

[2020-04-22 11:19] crapo commented on #112
What is unclear to me is how we know which Dialog editor windows most recently had the focus. Have a listener that catches focus events and records the window that just got the focus in the ConfigurationManger private key value store? The look there to see which Dialog editor matches in the iteration above?

[2020-04-22 12:04] kittaakos commented on #112
It is possible. You need an `IPartListener2` listener and register it with `PlatformUI.workbench.activeWorkbenchWindow.partService.addPartListener(yourListener)`.

I do not know much about the `ConfigurationManger` but we already have the `DialogAnswerProviders` service. Currently it has this API:
[code]
We can enhance it and have a new method, `IDialogAnswerProvider getCurrnt();`. This new method

[2020-04-22 12:37] crapo commented on #112
The latter approach sounds good to me. I think I know how to do the part about getting the window. Not so sure about generating the error page instead of writing to the console . (Which is why it's writing to the console :-)

[2020-04-24 13:47] crapo opened #116 "Deadlock"
@kittaakos , we do have one issue that I don't expect has an easy fix. In the DialogAnswerProvider, you once changed, as I recall,
`Display.getDefault().syncExec(() -> {`
to
`Display.getDefault().asyncExec(() -> {`
warning of a potential deadlock.
I think we've learned that if you move around the console window, as in move it to a different screen or change focus--not sure exactly what--it results

[2020-04-24 13:51] crapo opened #117 "merge of MissingPatterns into GH-415"
@kittaakos , now I really have problems. I merged MissingPatterns into GH-415 because I want to demo both renaming of concepts and the latest text extraction of code comments. Maven build failed in sadl.ui on something to do with something in src-xtend so I did a clean, then install. Now I have many errors in the eclipse environment. Can we do a Skype meeting? This is a major problem.

[2020-04-24 13:56] kittaakos commented on #117
Sure. Please, send the invitation via mail.

[2020-04-24 20:38] crapo commented on #117
@kittaakos , demo went well. Thank you for all your help!! The only glitch is that rename didn't work in the demo, and didn't work in the dry run earlier, although it worked repeatedly between. Unless it's an interaction with Zoom, there must be something I do in the demo that causes it. I'll search for a reproducible sequence. Thanks again!!!

[2020-04-24 20:39] crapo commented on #117
One more thing. Now the demo is over we want to merge everything that you put into the demo branches into sadlos2 MissingPatterns and ASKE TA1 CodeExtraction. Please advise on best way to do that so that I don't corrupt my git repo again.

[2020-04-27 07:23] kittaakos commented on #117
SADL PR: https://github.com/crapo/sadlos2/pull/417
Dialog PR: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/118

[2020-04-29 13:55] crapo opened #119 "Move to SADL 3.3 development"
@kittaakos , I think there is work to be done here as well?

[2020-04-29 14:02] kittaakos commented on #119
I know, I am working on it.

[2020-04-29 14:31] crapo commented on #119
While your at it, can you make it so that the update site has a version 1.0.0-<build>? (The zip file created in update currently just says something like 1.0.0-SNAPSHOT.

[2020-04-29 14:47] kittaakos commented on #119
:+1: Of course, I will make that change.

[2020-04-30 07:58] kittaakos commented on #119
It's done. See the output 👇

[code]

----
I could install the Dialog feature onto the top of the SADL, and RCE.

![Screen Shot 2020-04-30 at 09 50 45](https://user-images.githubusercontent.com/1405703/80686321-d895a700-8ac8-11ea-9f05-9216a68b0adf.jpg)
![Screen Shot 2020-04-30 at 09 50 55](https://user-images.githubusercontent.com/1405703/80686328-daf80100-8ac8-11ea-8fc9-093bb67e759e.jpg)
![Screen

[2020-04-30 08:00] kittaakos commented on #116
I'd highly recommend changing the way how we update the conversation. Related: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/issues/68#issuecomment-589554057

[2020-04-30 08:07] kittaakos commented on #119
@crapo, I am going to remove the unused `com.ge.research.sadl.darpa.aske.dialog.target` project. (#13) It caused confusion a couple of times.

[2020-04-30 18:42] #13 closed

[2020-04-30 18:42] #107 closed

[2020-05-05 16:19] crapo opened #122 "new RuntimeException"
@kittaakos , I'm seeing this, which I don't recall seeing before. Any ideas?

!MESSAGE Ignored reentrant call while viewer is busy. This is only logged once per viewer instance, but similar calls will still be ignored.
!STACK 0
java.lang.RuntimeException
	at org.eclipse.jface.viewers.ColumnViewer.checkBusy(ColumnViewer.java:764)
	at org.eclipse.jface.viewers.ColumnViewer.update(ColumnViewer.java:5

[2020-05-07 13:02] crapo commented on #119
I think this is done.

[2020-05-07 13:02] #119 closed

[2020-05-07 13:03] crapo commented on #117
I think this is done.

[2020-05-07 13:03] #117 closed

[2020-09-03 11:09] crapo commented on #122
@kittaakos , good memory!! Do we have any idea what causes it or how to fix it? People ask me about it--it's disconcerting to see a stack trace in the console window and as there isn't any SADL code in the stack trace I'm not sure how to catch it, if it is innocuous.

[2020-09-03 11:35] kittaakos commented on #122
Unfortunately, I do not know.

I tried to find a relevant Eclipse bug, but it was a dead end.

Yes, I agree.

Maybe it is triggered by an Eclipse resource refresh when we create the implicit models, and the refresh triggers a view refresh; but this is just a guess. I do not know how to consistently reproduce it.

It is.
[code]

[2020-10-29 12:27] kittaakos opened #129 "Bump up the Xtext version"
This is a follow-up of https://github.com/SemanticApplicationDesignLanguage/sadl/pull/532

As discussed with @crapo, I will try to make the Xtext update ASAP, and see if it's a straightforward change or not.

[2020-10-29 14:10] kittaakos commented on #129
Here is the PR: https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/pull/130
I could not run the tests but it should be work:
[code]

[2020-12-07 15:30] #129 closed

[2020-12-07 20:38] crapo opened #131 "update to be compatible with SADL 3.4.1"
need to update to be compatible with current version of SADL, requested by @AbhaMoitra .

[2020-12-08 12:58] crapo commented on #131
@AbhaMoitra , closing this issue as I've merged the fix  into master branch and ASKE TA1 code appears to be functioning with current SADL development branch.

[2020-12-08 12:58] #131 closed

[2020-12-08 15:11] agabaldon opened #132 ""No target found to which to save the equation model.""
After extraction from Java, trying to Save an equation to a target model issues the error:
com.ge.research.sadl.darpa.aske.processing.imports.AnswerExtractionException: No target found to which to save the equation model.
	at com.ge.research.sadl.darpa.aske.curation.AnswerCurationManager.saveEquationInstanceToTargetSemanticModel(AnswerCurationManager.java:966)
	at com.ge.research.sadl.darpa.aske.c

[2020-12-08 20:57] crapo commented on #132
Did you precede the save statement with a target model statement? This is not an area that was ever really completed and error handling clearly stinks, but I'm guessing that this is the cause.

[2020-12-08 22:23] agabaldon commented on #132
Yes, I had "target model "http://...."  line at the top after an import statement. I also created the sadl target model in the project to check if it has to preexist, but got the same result.

[2020-12-08 22:50] crapo commented on #132
just to be sure I'm not going in the wrong direction, please give me the complete content of the "target model" statement and of the "save" statement.

[2020-12-08 23:06] agabaldon commented on #132
I created a new dialog file and ran extract from WindTurbine. The file starts with:

 uri "http://sadl.org/test.dialog".
 import "http://aske.ge.com/WindTurbine".
 target model "http://sadl.org/WTextract.sadl".

Then after the results of extraction (and after curating equation definitions), I added:

  Save Coefficients.getCoefficientDrag.

[2020-12-09 15:33] crapo commented on #132
@agabaldon , I have identified and fixed this issue. It would have worked (I think) if you had specified an alias on the target model line and an alias on the save line. However, the grammar does say that they are optional, and the intent was that you would only need to use them if there were more than one target model specified. The modification uses the single default if there is only one withou

[2020-12-09 18:51] agabaldon commented on #132
You are right, with alias it worked.

[2020-12-28 20:05] crapo opened #133 "Create release compatible with SADL 3.5.0"
@AbhaMoitra , created GE ASKE release 1.1.0 compatible with SADL 3.5.0 and pushed as pre-release to github.com.

@tuxji , there is one error which doesn't appear to prevent the release from working but I'm stymied by it so if you have ideas I'd appreciate it.
1. I have an error in line 27 of com.ge.research.sadl.darpa.aske.dialog/pom.xml: Could not load class: "com.ge.research.sadl.processing.IMod

[2020-12-28 20:46] tuxji commented on #133
@crapo I don't get any error message about IModelProcessor on Ubuntu 20.04 with Java 11 running under WSL2 on Windows 10.  My build completed successfully without any error messages.  I did have to use the command `mvn clean package -DskipTests" because I was getting HTTP 404 Not Found errors in some of the tests.  I assume these tests were trying to reach GRC servers and I was building at home wi

[2020-12-28 21:23] AbhaMoitra commented on #133
@crapo : thank you for the updated release. I have installed it and I tried out one of the "dialogs"; it did some processing including building and executing KChain. But in doing sensitivity analysis, the service call failed. Sometimes the services are not running so it may be die to that. I tried it on another simpler dialog and it worked properly.

[2020-12-28 22:04] AbhaMoitra commented on #133
@crapo : some more info. The fig below shows what I ran just now in previous version of ASKE. (Not sure what the red line in the console means.)

![image](https://user-images.githubusercontent.com/28540315/103245300-b68d4680-492d-11eb-9b76-1b2192628e64.png)

I ran the same dialog with the updated SADL and ASKE and here are 2 figures showing the results. Not sure why the output is going to console

[2020-12-28 22:04] crapo commented on #133
@tuxji , yes, I did build with skipTests as I cannot reach the required services at GRC and have not installed them locally.

[2020-12-28 22:35] crapo commented on #133
@AbhaMoitra , some observations.

1. The message in red to the console window (with the old version if I understand correctly) indicates that a message from the back-end agent to the Dialog UI referenced a parse tree element (EObject) that was not found. This should not happen and indicates a failure of some kind in the human/agent conversation management.
2. The JSON output in the console window

[2020-12-28 22:45] AbhaMoitra commented on #133
@crapo . Thanks. Here are my comments on your points.

1.  thanks - I am not very familiar with the ASKE code so would need to ask @agabaldon about it.
2.  is there a way to turn off "debugMode" - this is minor question.
3.  Initially I attributed the error in the new version to some service being down. But then I re-ran the older version and it ran so I would conclude that Invizin Service is not

[2020-12-28 22:53] crapo commented on #133
@AbhaMoitra , WRT #2, right now the flag is hardwired in the code. It is easily turned off by changing code and rebuilding the update. For right now it might be useful to have it on and to add the debug output of the Invizin service request for Nurali or Alfredo to look at.

[2021-01-05 13:22] AbhaMoitra opened #134 "Some references missing in extraction"
When ingesting the attached file (rename it by stripping out suffix '.txt'), the resulting extraction has 2 references for the variable currentTime. There should be 3 references for it. This was verified by @agabaldon and he is looking into it.

[StrippedSimplyPID.java.txt](https://github.com/GEGlobalResearch/DARPA-ASKE-TA1/files/5770343/StrippedSimplyPID.java.txt)

[2021-01-05 22:28] crapo commented on #134
If I were going to guess, I would expect that the JavaModelExtractorJP isn't handling the expression

`final double dt = (previousTime != Double.NaN) ? (double)(currentTime - previousTime) : 0;`

which probably isn't one we encountered in our NASA Java Applet or WindTurbine examples.

[2021-01-06 16:04] agabaldon commented on #134
@crapo, yes. For statements of type VariableDeclarationExpr, the RHS should be treated similar to RHS of statements of type AssignExpr.  There is also no case for processing conditional expressions. I will push the change to handle the RHS of VariableDeclarationExpr for your review.

[2021-01-06 16:10] agabaldon commented on #134
Pushed to CodeExtraction branch.

[2021-01-06 16:54] agabaldon commented on #134
Also pushed handling of Conditional and Cast expressions.

[2021-08-03 20:52] crapo opened #136 "CM answer to a question which is in the form of a declaration creates error"
e.g., "CM: CF6 is a type of AircraftEngine."
gets a redeclaration error.

[2022-02-08 16:09] crapo opened #137 "SGH-784: Query expression processing, Dialog version of SADL issue 874"
PropOfSubject expressions can be nested. The fix to SADL issue 874 handled the return from JBSMP.processExpression(PropOfSubject) when the return value is an Object[] with the 2nd element being the "rest" of the processing results. JBDMP needs to handle this case as well.

[2022-02-08 16:11] crapo commented on #137
@agabaldon , pushed branch SGH-874 with some post processing after what was line 888 of JBDMP. This generates a correct Junction, I believe, although the processing after doesn't seem right as it generates two pseudo rules with what should be one. I'm a little fuzzy on what is supposed to happen. Perhaps you can help see where that goes wrong?

[2022-02-09 16:45] agabaldon commented on #137
On lines 1024-1025, if the subject is a variable, the variable is replaced by the type. For example, the triple
    rdf(v0, propchains:partID, "123")
is replaced by
    rdf(propchains:Part, propchains:partID, "123")

Instead I think the triple rdf(v0, rdf:Type, propchains:Part) should be added to thenObjs along with the original  rdf(v0, propchains:partID, "123").

But then we get three rules so t

[2022-02-09 23:12] crapo commented on #137
That makes sense. It would be nice to use more of the saddle code unless custom code so that it only needs to be made to work correctly in one place. Maybe I'll take a look at that possibility.

[2022-02-14 21:53] crapo commented on #137
@agabaldon , I took a look at what JBDMP is doing versus what JBSMP is doing. JBDMP should be using the returned Object[2] the same way as JBSMP and then should use the IntermediateFormTranslator to expand the proxy nodes like JBSMP does. I don't want to change something you're working on, but if you want me to try to bring JBDMP more inline with what JBSMP does, using common code, let me know.

[2022-02-15 15:15] agabaldon commented on #137
Please go ahead. In the meantime, I'm using a different version of the query to continue working on the query processing part.

[2022-02-15 22:36] crapo commented on #137
@agabaldon , I have made a couple of changes to SADL, pushed to branch GH-874b. I have pushed changes to Dialog to use the JBSMP.processAsk, pushed to branch SGH-874. I believe the processing of the thenExpr (~line 906) is working as expected. However, in this case ("what is the temperature of processing of (a Part partID "123")?"), whenLst is null. I made a change in the caller so that it didn't

[2022-02-15 23:15] agabaldon commented on #137
Right. I noticed that. I was even going to change line 867 of JBDMP to add the when to the whenLst only if when is not null. But then I noticed, as you say, that if whenLst is empty then a rule is not created on lines 1152-1166. I think a rule should be created there whether the when is null or not.
There's another issue I think if we allow compare queries without a when part. For example if we sa

[2022-02-16 21:54] crapo commented on #137
@agabaldon , I may have not pushed to SADL branch GH-874b yesterday like I thought I did. Now I have and created a PR to merge into development.

[2022-02-18 16:39] agabaldon commented on #137
I checked out SGH-874 and can't build it. I get this error:

[ERROR] 	Object thenObj = processAsk(thenExpr); // processExpression(thenExpr);	// do this first for article checking conformance
[ERROR] 	                 ^^^^^^^^^^
[ERROR] The method processAsk(Expression) in the type JenaBasedSadlModelProcessor is not applicable for the arguments (EObject)

Doesn't make sense since processAsk is clea

[2022-02-18 20:27] agabaldon commented on #137
Tried mvn clean then mvn package instead of mvn clean package and it worked.

[2022-02-22 15:56] agabaldon commented on #137
Ok, I'm trying to modify JBDMP to handle the output from processAsk.

What I'm looking at is trying to distinguish between thenObj (post processing) for query:

  _what is the temperature of processing of part1?_

which produces thenObj  _and(rdf(propchains:part1, propchains:processing, v6), rdf(v6, propchains:temperature, v7))_

and for query:

  _compare thrust of a CF6 and a F100._

which produ

[2022-02-22 22:13] crapo commented on #137
@agabaldon , this brings back memories of why there was special processing in the JBDMP. The compare thenObj has v0 and v1, which represent "a CF6" and "a F100". I think hey must ultimately be recognized as implying two queries:
1) rdf(v0, hypersonicsV2:thrust, v35)
2) rdf(v1, hypersonicsV2:thrust, v36)

I'd forgotten that we had this scenario to handle when consolidating under the processAsk. I'm

[2022-02-22 22:22] crapo commented on #137
@agabaldon , the result of the unabbreviated form ("compare the trust of a CF6 and the thrust of an F100.") is what we would expect: "and(rdf(v0, hypersonicsV2:thrust, v35), rdf(v1, hypersonicsV2:thrust, v36))", We could recognize what is being compared before processing, identifying the two thenObjs to be processed.

[2022-02-22 22:57] agabaldon commented on #137
Yes, the expansion of the abbreviated form for compare is there and can still be used. We have to distinguish between a Junction that represents a what-is with property chains or a compare. Before, we didn't deal with property chains, so we would get a TripleElement for what-is and a Junction for compare, so it was easy to distinguish. So, are you saying that to determine if it is a compare, look

[2022-02-22 23:17] agabaldon commented on #137
"In other words, get the same thing if the compare had been "compare the trust of a CF6 and the thrust of an F100." Does that make sense?"

Get the same thing from processAsk? Not sure what you mean.

[2022-02-23 00:36] crapo commented on #137
@agabaldon , I'm suggesting that we need to differentiate in the JBDMP when we know, explicitly, that this is a compare statement. Divide it into its parts, 2 or more, and process them one at a time, filling in any missing property chain elements on the LHS, which can probably be most easily done after they are processed by processAsk. Method processAsk is in JBSMP and is not the place to determin

[2022-02-23 14:58] agabaldon commented on #137
Right, we're on the same page. The question is what's the best way to distinguish between what-is with prop chains and compare. Both queries go through processAsk, even though compare doesn't exist in SADL. When a compare is unabbreviated, processAsk returns a standard query "select v0 v1... where and(....".  And when the compare is abbreviated it returns a Query with only the where clause "and(..

[2022-02-23 21:23] agabaldon commented on #137
All of 1-3 make sense. But my question is not how to handle compare. It is how to tell if the EObject thenExpr is a compare or a what-is. I was asking if it made sense for processAsk(thenExpr) to return something that indicates it is a compare when thenExpr is a compare. You are saying that no, processAsk will return a "select" or an "ask" because compare is a dialog construct, which makes sense.

[2022-02-23 21:52] crapo commented on #137
Oh, because the processing is in JBDMP.processStatement(CompareStatement element), which ends up calling whenAndThenToCookedRules. Since this is only in JBDMP, you can just add a flag if needed to tell it whether it was called from a CompareStatement or from a WhatIsStatement. Make it explicit--no need to guess based on content.

[2022-02-23 22:08] agabaldon commented on #137
I knew there was a simple way. :-)

[2022-02-24 12:18] crapo commented on #137
Actually, you already have what is needed to tell. The EObject passed in to the method whenAndThenToCookedRules (or any other method) as the context used for adding markers can be used to identify what statement one is in using
EcoreUtil2.getContainerOfType(theEObj, CompareStatement.class). This will return true if theEObj is contained by a CompareStatement.

[2022-02-24 16:25] agabaldon commented on #137
Thanks, yes, that's better. EObjects are still a dark region for me.

[2022-03-02 14:12] #137 closed

[2022-03-02 14:12] #136 closed

[2022-03-02 14:23] agabaldon opened #138 "Variables in equation translation"
Consider the equation

 External pressureEq(double t(temperature of a processing of a Part), double v(volume of the processing of the Part))
   returns double (pressure of the processing of the Part) : "".

If we look at the translation in OWL, we find in argument patterns:

                 <sadlimplicitmodel:TriplePattern>
                  <sadlimplicitmodel:gpObject rdf:resource="http://sadl.o